services:
  db:
    image: postgres:latest
    ports:
      - "5442:5432"
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - TZ=America/La_Paz
      - PGTZ=America/La_Paz
    container_name: bolfoodDB
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres_network

volumes:
  postgres_data:

networks:
  postgres_network: